* {
    box-sizing: border-box;
  }
  body{
      margin: 0px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: #f2f2f2;
  }
  .img1{
    float: left;
    overflow: auto;
    margin: -20px 0px 2px -25px;
    padding: 0px;
  }
  .img1:hover{
    border: 2px solid blue;
  }
  header h1{
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.89);      
  }
  header{
    background-color: powderblue;
    padding: 30px;
  }
main{
  background-color: #f2f2f2;
  padding: 10px;
}
main h1{
    text-align: center;
    background-color: aliceblue;
    margin: 0px;
}
nav{
  background-color: #333;
  overflow: hidden;
}
nav a{
  text-decoration: none;
  color: white;
  padding: 20px;
  text-align: center;
}
  .f100{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      background-color:
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 600;
  }
  textarea{
    resize: none;
    width: 20%;
    padding: 8px;
    border: 1px solid rgb(97, 92, 92);
    border-radius: 4px;
  }
  input[type=text], select,input[type=email],input[type=number] {
    width: 20%;
    padding: 8px;
    border: 1px solid rgb(97, 92, 92);
    border-radius: 4px;
    resize: vertical;
  }
  legend{
    font-size: 18px;
    font-weight: 500;
  }
  input[type="submit"]{
    font-size: 17px;
    border: 2px solid black;
    font-weight: bold;
  }
  input[type="submit"]:hover{
    text-decoration: underline;
  }
  input[type="submit"]:active{
    color: hotpink;
  }
  footer{
    background-color: black;
    overflow: hidden;
}
footer a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
  